#header {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-image: url("../img/orange/header.png");
	height: 116px;
	text-align: right;
	padding-right: 5px;
	font-size: 80%;
}

#header a {
	color: #a00;
}

/* ******************************
 *        Navigation bar
 * ****************************** */
#navbar {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-image: url("../img/orange/menubar.png");
	height: 28px;
	color: white;
	border-top: 1px solid #850000;
	border-bottom: 1px solid #850000;
}

#navbar ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
}

#navbar li {
	display: block;
	height: 28px;
	line-height: 16px;
	float: left;
}

#navbar img {
	vertical-align: middle;
}

#navbar a {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	color: white;
}

#navbar li.selected {
	background: #585858;
}

#navbar li:hover {
	background: #686868;
}

#navbar a:hover {
	color: #ffffb8;
}

/* *********************************
 *             Footer
 * ********************************* */

#footer {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	width: 800px;
	background: url("../img/orange/footer.png");
}

#footerleft {
	vertical-align: middle;
	text-align: center;
	width: 150px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 40px;
	float: left;
}

#footerright {
	min-height: 34px;
	padding: 6px;
}

#footerright, #footerleft {
	text-align: left;
	color: white;
	font-size: 10px;
}

#footerright a {
	color: white;
}

#footer > img {
	float: left;
}

.hshadow {
	background: url(../img/hshadow.png) repeat-x;
	height: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

