.formbox {
	margin-left: auto;
	margin-right: auto;
}

.formbox div {
	margin-right: 15px;
	margin-left: 15px;
}

.formbox p.error {
	font-weight: bold;
	color: red;
}

.formbox .formFields {
	list-style-type: none;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-left: 0px;
}

.formbox .formFields label {
	margin-right: 15px;
	float: left;
	text-align: right;
}

.formbox .formFields li {
	padding-bottom: 3px;
/*	margin-right: 15px;*/
}

.formbox .formFields li:focus {
	background: #ffd;
}

.formbox .formFields input:focus {
	background: #ff8;
}

.formbox .formFields .error {
	background: #f88;
}

.formbox .formFields label:after {
	content: ":";
}

.formbox .buttons {
	text-align: center;
}

.formbox h1 {
	margin-bottom: 3px;
}

/* *********************************** *
 *             Login form              *
 * *********************************** */
.loginForm {
	width: 300px;
}

.loginForm label {
	width: 75px;
}

/* *********************************** *
 *        Personal data  form          *
 * *********************************** */

.pdataForm {
	width: 550px;
}

.pdataForm label {
	width: 160px;
}

.pdataForm .required {
	background: #a9a9a9;
	font-weight: bold;
}

.pdataForm .desc {
	background: #908e8e;
	padding-left: 5px;
	margin-top: 5px;
}

.pdataForm select {
	width: 200px;
}

.pdataForm .comment {
	font-weight: normal;
}

